/* Hero */
.hero-title {
  color: #002c47;
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text {
  text-align: left;
  width: 80%;
  color: #002c47;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-btns-container {
  display: flex;
  gap: 20px;
}

.hero-btn {
  font-family: "Work Sans", serif;
  background: white;
  border: 1.167px solid #002c47;
  border-radius: 4.667px;
  height: 44.877px;
  padding: 7px 14px;
  box-shadow: 0px 2.333px 2.333px 0px rgba(33, 37, 41, 0.06), 0px 0px 1.167px 0px rgba(33, 37, 41, 0.08);
}

.hero-active-btn {
  background: #0091E8;
  color: white;
  border: none;
}

/* Graph */
.graph-container {
	margin-top: 20px;
	display: flex;
  flex-direction: column;
	justify-content: center;
}

.hide {
  display: none;
}

/* Modal */
.btn-show-modal {
  border: none;
  background: none;

  color: #002C47;
  /* Body 2 (Regular) */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 6%; /* 0.96px */
  text-underline-offset: 12%; /* 1.92px */
  text-underline-position: from-font;
}

.modal-lg {
  width: 40%;
}

.modal-title {
  font-family: "Space Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal-body {
  font-family: Manrope;
}

.modal-footer {
  display: flex;
  justify-content: center;

  & button {
    background: #F14914;
  }
}