.hero-title {
  color: #002c47;
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text {
  text-align: left;
  width: 80%;
  color: #002c47;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-buttons {
  display: flex;
  gap: 20px;

  & button {
		font-family: "Work Sans", serif;
    background: white;
    border: 1.167px solid #002c47;
		border-radius: 4.667px;
    height: 44.877px;
    padding: 7px 14px;
		box-shadow: 0px 2.333px 2.333px 0px rgba(33, 37, 41, 0.06), 0px 0px 1.167px 0px rgba(33, 37, 41, 0.08);
  }
}

.graph-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}