/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Header */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

header {
  font-family: Manrope;
}

li.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: #e1edf7;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

/* Content */
button.btn-go-home {
  border: none;
  /* line-height: inherit; */
  border-radius: 8px;
  background: #f14914;

  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.wave-box {
  height: 150px;
  background: url('svgs/wave.svg') center/auto 100%;
}
