@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutMatPlot.cshtml";
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<div class="text-center">
    <div class="d-flex gap-5">
        <div class="flex-row">
            <p class="hero-title text-start fs-1" >Problemáticas identificadas</p>
            <p class="hero-text">
                Explora el siguiente gráfico interactivo para conocer las problemáticas relacionadas al agua que
                atienden los participantes al Water Disruption Challenge. Podrás identificar sus similitudes o
                diferencias para detectar nuevas oportunidades de colaboración o innovación.
            </p>
            <div class="hero-buttons">
                <button>Vista 2D</button>
                <button>Vista 3D</button>
            </div>
        </div>
        <div class="flex-row">
            <img src="~/svgs/cloud.svg" alt="">
        </div>
    </div>

    <div class="graph-container">
        <div id="cb125e1f-fcac-4386-9e77-9b941cbd24f2"></div>
    </div>

    <a class="nav-link text-decoration-underline text-end" asp-area="" asp-page="" style="margin-bottom: 150px;">Glosario</a>
</div>

@section Scripts {
    <script src="~/js/plotly/mps3dGraph.js"></script>
}