@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutMatPlot.cshtml";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="d-flex gap-5">
        <div>
            <h1 style="text-align: left;">Problemáticas identificadas</h1>
            <p style="text-align: justify; width: 80%;">
                Explora el siguiente gráfico interactivo para conocer las problemáticas relacionadas al agua que
                atienden los participantes al Water Disruption Challenge. Podrás identificar sus similitudes o
                diferencias para detectar nuevas oportunidades de colaboración o innovación.
            </p>
            <div style="text-align: center; width: 80%;">
                <button>Vista 2D</button>
                <button>Vista 3D</button>
            </div>
        </div>
        <div>
            <svg width="324" height="157" viewBox="0 0 324 157" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M242.87 66.42C232.21 28.17 197.08 0 155.46 0C113.84 0 77.17 29.39 67.38 68.92C28.63 79.25 0 114.65 0 156.61H3C3 116.59 29.93 82.75 66.62 72.24C67.7 71.93 68.78 71.64 69.88 71.38C75.03 70.12 80.35 69.31 85.81 69.01C86.87 68.95 87.94 68.91 89.01 68.89C89.58 68.89 90.16 68.87 90.74 68.87C95.38 68.87 99.93 69.23 104.38 69.93C105.39 70.09 106.4 70.26 107.41 70.46C112.36 71.41 117.16 72.79 121.78 74.55C122.72 74.89 123.65 75.26 124.57 75.66C129.15 77.57 133.54 79.87 137.69 82.52C138.55 83.06 139.39 83.61 140.22 84.19C147.71 89.32 154.35 95.59 159.93 102.73C156.76 107.01 153.96 111.58 151.57 116.39C144.08 105.09 133.53 95.99 121.1 90.28C120.12 89.83 119.13 89.4 118.13 89C113.52 87.12 108.67 85.7 103.64 84.8C102.66 84.63 101.67 84.47 100.67 84.34C97.42 83.89 94.11 83.66 90.74 83.66C89.1 83.66 87.46 83.71 85.85 83.83C84.83 83.89 83.82 83.98 82.82 84.09C77.63 84.65 72.6 85.76 67.79 87.36C66.76 87.7 65.75 88.06 64.75 88.45C37.32 98.94 17.79 125.54 17.79 156.61H20.79C20.79 126.3 40.17 100.43 67.2 90.74C67.37 90.67 67.54 90.61 67.72 90.56C72.47 88.89 77.45 87.73 82.6 87.13C83.6 87.01 84.6 86.92 85.62 86.84C87.31 86.72 89.02 86.66 90.74 86.66C94.02 86.66 97.25 86.89 100.41 87.33C101.41 87.46 102.4 87.62 103.39 87.8C123.04 91.4 139.81 103.25 150.06 119.59C147.08 126.24 144.87 133.3 143.56 140.68C136.7 118.01 115.63 101.45 90.74 101.45C60.33 101.45 35.58 126.2 35.58 156.61H38.58C38.58 127.85 61.98 104.45 90.74 104.45C117.12 104.45 138.98 124.14 142.42 149.58C142.24 151.9 142.15 154.25 142.15 156.61H145.15H145.91C145.91 154.21 145.74 151.84 145.44 149.52C147.32 126.17 158.38 105.37 175 90.74H175.05C175.05 90.74 175.05 90.71 175.05 90.7C190.5 77.12 210.75 68.87 232.89 68.87C281.27 68.87 320.63 108.23 320.63 156.61H323.63C323.63 109.95 288.22 71.4 242.87 66.42ZM90.74 65.87C90.52 65.87 90.3 65.87 90.08 65.88C100.12 39.54 125.64 20.79 155.46 20.79C185.28 20.79 211.28 39.91 221.13 66.64C216.11 67.29 211.23 68.36 206.5 69.8C198.23 49.74 178.47 35.59 155.46 35.59C132.45 35.59 114.49 48.49 105.62 67.11C100.78 66.3 95.81 65.88 90.74 65.88V65.87ZM108.7 67.66C117.22 50.44 134.98 38.58 155.46 38.58C177.14 38.58 195.76 51.87 203.63 70.72C198.93 72.33 194.39 74.31 190.07 76.64C184.49 63 171.08 53.37 155.46 53.37C141.72 53.37 129.7 60.82 123.21 71.89C118.54 70.09 113.7 68.67 108.7 67.67V67.66ZM126.03 73.01C132.05 63.04 142.99 56.36 155.46 56.36C169.96 56.36 182.38 65.39 187.42 78.11C182.91 80.73 178.65 83.73 174.68 87.06C172.96 78.02 165 71.15 155.46 71.15C148.67 71.15 142.67 74.63 139.16 79.9C135 77.26 130.61 74.95 126.03 73.01ZM161.81 100.28C156.09 93.07 149.3 86.73 141.66 81.54C144.64 77.09 149.71 74.15 155.46 74.15C164.16 74.15 171.3 80.88 171.98 89.41C168.3 92.75 164.9 96.39 161.8 100.28H161.81ZM224.19 66.29C214.12 38.06 187.12 17.79 155.46 17.79C123.8 17.79 97.01 37.89 86.84 65.96C81.31 66.19 75.92 66.92 70.69 68.11C80.69 30.66 114.9 3 155.46 3C196.02 3 229 29.69 239.66 66.13C237.43 65.96 235.17 65.88 232.89 65.88C229.95 65.88 227.05 66.03 224.19 66.3V66.29Z"
                    fill="#148DE0" />
            </svg>
        </div>
    </div>

    @* <div>
        <div id="cb125e1f-fcac-4386-9e77-9b941cbd24f2" class="plotly-graph-div" style="height:950px; width:1100px;"></div>
    </div> *@
</div>

@section Scripts {
    <script src="~/js/plotly/mps3dGraph.js"></script>
}